/*Font Styles*/
@font-face {
    font-family: 'Dosis';
    src: url(../font/Dosis-ExtraLight.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Goon';
    src: url(../font/Goon.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium';
    src: url(../font/TitilliumWeb-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Loading Styles*/
#load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    background-color: #fafafa;
    transition-duration: 0.5s;
}
#load img {
    height: 40vw;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/*Container Styles*/
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100%;
    background-color: #eee;
    overflow-x: hidden;
}
div {
    box-sizing: border-box;
}
#body-container{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    transition-duration: 1.5s;
    display: block;
    opacity: 0;
    transition-delay: 0.5s;
    transition-duration: 1.25s;
    position: absolute;
}

/*Scroll Bar Styles*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}

/*Selection Style*/
::selection {
    color: #f1f1f1;
    background: #555;
}
::-moz-selection {
    color: #f1f1f1;
    background: #555;
}
/* END OF STANDARD STYLES */
/*Container Styles New*/
#particles-js {
    position: absolute;
    top: 0;
    width: 100vw;
    height: inherit;
}
#cover-page {
    background-image: url(../img/general/wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.page {
    width: 100vw;
    height: auto;
    display: flex;
}
.ds-split {
    width: 50vw;
    min-height: 48vw;
    padding: 2vw;
    display: flex;
    align-items: center;
}
.center-ds {
    justify-content: center;
}
.album-ds {
    width: 50vw;
    min-height: 48vw;
    padding: 0;
    display: flex;
}
#special-ds {
    padding-top: 20vw;
}
.split-content{
    width: auto;
    height: auto;
    display: block;
}

/*DS Split Image Styles*/
#cover-image {
    width: 30vw;
}
#portrait-image {
    width: 20vw;
}

/*Parallax Styles*/
.parallax-container {
    width: 100vw;
    height: auto;
}
.parallax-text-container {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
}

/*All Album Styles*/
.album-container {
    width: 50vw;
    height: 50vw;
    position: relative;
}
.album-wrapper {
    width: 36vw;
    height: 38vw;
    border-radius: 1.5vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4vw 8vw rgba(0,0,0,0.2);
    background-color: #fff;
    transition: 0.2s;
}
.album-hovered-on {
    width: 34vw;
    height: 36vw;
    border-radius: 1.5vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2vw 4vw rgba(0,0,0,0.35);
}
.album-target:hover {
    cursor: pointer;
}
.album-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.album-art {
    width: 100%;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.album-description {
    width: 100%;
    height: auto;
    padding: 1vw;
}
.description-container {
    width: 100%;
    overflow: hidden;
}
.fade {
    position: relative;
    height: calc(5.6em + 1vw);
}
.fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: calc(1.4em + 1vw);
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

/*Text Styles*/
h1 {
    margin: 0;
    font-size: 8em;
    padding: 0;
    padding-left: 4vw;
    color: #fff;
    text-shadow: 0 0 1em rgba(0,0,0,0.65);
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
.parallax-text {
    margin: 0;
    font-size: 5em;
    padding: 2.5em;
    color: #fff;
    text-shadow: 0 0 3em rgba(0,0,0,0.95);
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
h2 {
    margin: 0;
    font-size: 2.6em;
    padding: 0;
    padding-left: 4vw;
    color: #ccc;
    text-shadow: 0 0 1em rgba(0,0,0,0.65);
    font-weight: 100;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

/*Content Text Styles*/
h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.25em;
    font-size: 2.7em;
    color: #000;
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
p {
    margin: 0;
    font-size: 1.5em;
    padding: 0;
    text-indent: 1em;
    line-height: 1.4em;
    color: #888;
    font-weight: 100;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

/*Nav Styles*/
.hamburger {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 10;
}
.hamburger-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    padding: 1em;
    display: inline-flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    transition-duration: 0.3s;
    z-index: 5;
}
#nav-logo {
    height: 54px;
    opacity: 0;
    transition-duration: 0.3s;
}

/*Footer Styles*/
.footer {
    width: 100vw;
    height: auto;
    padding: 2vw;
}
#footer-logo {
    width: 10em;
    padding: 1em;
}
.footer-text {
    text-indent: 0;
    font-size: 1em;
}

/*Mobile Support for Fonts*/
@media (min-width: 480px) and (max-width: 959px) {

}
@media only screen and (max-width: 960) {

}
@media (min-width: 961px) and (max-width: 1280px) {

}

/*Mobile Support*/
@media only screen and (max-width: 100vh) {
#particles-js {
    position: absolute;
    bottom: 0;
    width: 100vw;
    min-height: 100vw;
    z-index: 3;
}
#cover-page {
    background-image: url(../img/general/wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 4;
}
.page {
    width: 100vw;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: space-between;
}
.ds-split {
    width: 100vw;
    min-height: 60vw;
    padding: 2em;
    display: flex;
    align-items: center;
}
.center-ds {
    justify-content: center;
}
.album-ds {
    width: 100vw;
    min-height: 48vw;
    padding: 0;
    display: flex;
}
#special-ds {
    padding-top: 0;
}
.split-content{
    width: auto;
    height: auto;
    display: block;
}

/*DS Split Image Styles*/
#cover-image {
    padding-top: 10vw;
    width: 70vw;
}
#portrait-image {
    padding-top: 10vw;
    width: 50vw;
}

/*Parallax Styles*/
.parallax-container {
    width: 100vw;
    height: auto;
}
.parallax-text-container {
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
}
    
/*All Album Styles*/
.album-container {
    width: 100vw;
    height: 100vw;
    position: relative;
}
.album-wrapper {
    width: 74vw;
    height: 86vw;
    border-radius: 6vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4vw 8vw rgba(0,0,0,0.2);
    background-color: #fff;
    transition: 0.2s;
}
.album-hovered-on {
    width: 70vw;
    height: 82vw;
    border-radius: 6vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2vw 4vw rgba(0,0,0,0.35);
}
.album-target:hover {
    cursor: pointer;
}
.album-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.album-art {
    width: 100%;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.album-description {
    width: 100%;
    height: auto;
    padding: 3vw;
}
.description-container {
    width: 100%;
    overflow: hidden;
}
.fade {
    position: relative;
    height: calc(2.3em + 1vw);
}
.fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: calc(1.15em + 1vw);
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

/*Text Styles*/
h1 {
    margin: 0;
    font-size: 4em;
    padding: 0;
    padding-left: 4vw;
    color: #fff;
    text-shadow: 0 0 1em rgba(0,0,0,0.65);
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
.parallax-text {
    margin: 0;
    font-size: 2em;
    padding: 2.5em;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    text-shadow: 0 0 3em rgba(0,0,0,0.95);
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
h2 {
    margin: 0;
    font-size: 1.6em;
    padding: 0;
    padding-left: 4vw;
    color: #ccc;
    text-shadow: 0 0 1em rgba(0,0,0,0.65);
    font-weight: 100;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

/*Content Text Styles*/
h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.25em;
    font-size: 2em;
    color: #000;
    font-family: "Goon", Helvetica, Arial, sans-serif;
}
p {
    margin: 0;
    font-size: 1.15em;
    padding: 0;
    text-indent: 1em;
    line-height: 1.1em;
    color: #888;
    font-weight: 100;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}
    
/*Footer Styles*/
.footer {
    width: 100vw;
    height: auto;
    padding: 4vw;
}
#footer-logo {
    width: 6em;
    padding: 0.25em;
}
.footer-text {
    text-indent: 0;
    font-size: 0.7em;
    line-height: 150%;
}
}